@import "../../scss/variables.scss";

.city-hero {
    &-container {
        width: 100%;
        padding: 1rem;
        padding-bottom: 3rem;
        margin-bottom: 1.5rem;
        background-position: center;
        background-size: cover;
        background-color: $main-color-light;
        background-blend-mode: multiply;
        height: 350px;
    }
    &-title {
        font-family: "Montserrat", sans-serif;
        color: white;
        text-align: center;
        font-size: 48px;
        color: #ffffff;
        text-align: center;
        text-shadow: 0 6px 4px rgba(0, 0, 0, 0.5);
        font-weight: 700;
        margin-top: 4rem;
    }
}
