.pittsburgh {
  &-container {
  }
  &-blurb {
    font-family: "Montserrat", sans-serif;
    padding: 0px 32px;
  }
}

.sideNav {
  flex-direction: column !important; 
  font-family: "Lato"; 
  border-right: 1px solid black; 
}
