@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../scss/variables.scss";

.landing-cities-container{
  margin: 6rem 6rem; 
  @include media-breakpoint-down(md) {
    margin: 0 3rem 1rem 3rem; 
  }
  @include media-breakpoint-down(xs) {
    margin: 0 2rem .5rem 2rem; 
    font-size: 14pt; 
  }
}




