.sideNav {
    a {
        padding-bottom: 32px;
        color: rgb(92, 90, 90) !important;
        text-decoration: none;
        transition: color 0.3s;
    } 
    a:hover{
        text-decoration: none;
        color:#103962 !important;
    }
    a:active{
        color:#103962 !important;
    }
    
    flex-direction: column !important; 
    font-family: "Lato"; 
    font-size: 16pt;
    padding: 48px 32px; 

    margin-top: 2rem; 
    
}