.sideNav {
    a {
        padding-bottom: 16px;
        padding-right: 20px;
    } 
    flex-direction: column !important; 
    font-family: "Lato"; 
    padding-right: 5px;
    // border-right: 1px solid black; 
}