@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../scss/variables.scss";

.about{
  box-shadow: 0 2px 14px 0 rgba(0,0,0,0.12);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16pt;
  border-radius: 8px;

  margin: 4rem 4rem;
  @include media-breakpoint-down(md) {
    margin: 3rem; 
  }
  @include media-breakpoint-down(xs) {
    margin: 2rem; 
    font-size: 14pt; 
  }

  background: white; 

  padding: 42px 58px !important; 
  line-height: 48px;

  h2 {
    font-weight: 600;
    margin-bottom: 24px;
  }
}




