.jumbotron {
  margin-bottom: 0 !important;
  padding: 3rem 2rem 0.5rem 2rem !important;
}

h1 {
  font-family: "Andalus";
  text-align: center;
  text-shadow: 2px 2px #ebebeb28;
}

.container-fluid {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.nav {
  width: 100%;
  margin-top: 0;
  margin-bottom: 32px !important;
  padding-bottom: 1px;
  background-color: #e9ecef;
  font-family: "Andalus";
  display: flex;
  justify-content: space-around;
}

.nav-link {
  display: flex;
  color: black !important;
  font: 14pt !important;

  /* -webkit-box-shadow: 2px 2px 22px -10px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 22px -10px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 22px -10px rgba(0, 0, 0, 0.28); */
  /* border-radius: 25px; */
}

.row {
  display: flex;
}
